#!/usr/bin/env bash
set -euo pipefail

export BORG_REPO="{{ borg_repo }}"
export BORG_PASSPHRASE="{{ borg_passphrase }}"
export BORG_RSH="ssh -i /root/.ssh/borg_ed25519 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/root/.ssh/known_hosts -o BatchMode=yes"

main() {
  archive_name="etc-$(date '+%Y-%m-%d_%H-%M-%S')"

  echo "Starting backup ${archive_name}"
  borg create --stats --compression lz4 "::${archive_name}" /etc

  borg prune --list --stats \
    --keep-daily=90 \
    --keep-monthly=12 \
    "${BORG_REPO}"

  echo "Finished backup ${archive_name}"
}

main 2>&1 | logger -t borg-backup
exit "${PIPESTATUS[0]}"
